*~
/trunk/imagej/target/

# Mac OS
.DS_Store
/build/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

# Package Files #
*.jar
*.war
*.ear

# Mobile Tools for Java (J2ME)
.mtj.tmp/

*.class

# Gradle
.gradle/

# Eclipse
.settings/
.project
.classpath

# TestNG
test-output/
